@keyframes typing {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  50% {
    width: 100%;
  }
  75% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.typing-effect-wrapper {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

.typing-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap; 
  width: auto;
  border-right: 1px solid white; /* Simulates the cursor */
  animation: typing 6s steps(15) infinite;
  vertical-align: bottom;
}
